/* Aside */

.sidebar {
	background-color: $color-tertiary;
	color: $color-text;
	
	h3 {
		font: {
			@include fntz(1.75);
			weight: 300;
		}
		text-transform: uppercase;
	}

	a {
		border: none;

		&:hover {
			background-color: $color-text-accent;
		}

	}

}

nav,
.zen-resources {
	padding: 0 2rem 4rem 2rem;
}

nav {

	ul li {
		padding-bottom: 1rem;
	}

}

.design-selection {
	background: lighten($color-secondary, 8%);
	overflow: hidden;
}

.design-archives {
	background: $color-secondary;
	box-sizing: border-box;
}

.zen-resources {
	background: lighten($color-secondary, 5%);
	box-sizing: border-box;
	line-height: 1.5em;

	h3 {
		padding-left: 0;
	}

}

a.design-name {
	color: $color-primary;
	display: inline;
	font: {
		weight: 700;
	}
	text-transform: uppercase;

	&:after {
		content: "\A";
		white-space: pre;
	}

}

.designer-name {
	font: {
		style: italic;
	}
	line-height: 1.5em;
}

