/* Global Styles */

body {
	color: $color-text;
	font: {
		family: $font-text;
		weight: 400;
	}
	letter-spacing: 0.05rem;
}

p {
	line-height: 1.5em;
}

a {
	border-bottom: 2px solid $color-text;
	color: $color-text;
	font: {
		weight: 700;
	}
	text-decoration: none;
	transition: all 0.2s ease;
	white-space: nowrap;

	&:hover {
		background-color: $color-text-accent;
	}

}

::-moz-selection {
  background: $color-secondary;
  color: $color-text;
}

::selection {
  background: $color-secondary;
  color: $color-text;
}