/* Media Queries */

@media screen and (min-width: 481px) {
	
	header {
		padding: 5rem;
	}

	.summary {

		p {
			padding: 4rem 5rem 1rem 5rem;
		}
		
	}

	.explanation,
	.participation,
	.benefits {

		h3 {
			padding: 4rem 5rem 1rem 5rem;
		}

		p {
			padding: 1rem 5rem;
		}

	}

	.benefits {

		p {
			padding-bottom: 4rem;
		}

	}

	.preamble,
	.requirements {
		padding: 5rem;
	}

	footer {
		padding: 2rem 5rem;
	}

	.sidebar {

		h3 {
			padding: 4rem 5rem 1rem 5rem;
		}

	}

	nav,
	.zen-resources {
		padding: 0 5rem 4rem 5rem;
	}

	.zen-resources {

		h3 {
			padding-left: 0;
		}

	}

}

@media screen and (min-width: 861px) {

	header {
		padding-bottom: 10rem;
	}

	.summary {
		position: absolute;
		right: 0;
		top: 5rem;
		width: 50%;

		p {
			padding-top: 2rem;

			&:last-child {
				padding-bottom: 2rem;
			}

		}

	}

	.preamble {

		h3,
		p {
			margin-right: 40%;
		}

	}

	.explanation {

		h3,
		p {
			padding-left: 40%;
		}

	}

	.participation {

		h3 {
			margin-top: 30rem;
		}

		p {
			padding-right: 40%;
		}

	}

	.benefits {

		p {
			padding-right: 40%;
		}

	}

	.requirements {

		h3,
		p {
			margin-left: 40%;
		}

	}

	footer {
		padding: 1rem;
		position: relative;
		left: 0;
		bottom: 23.25rem;
		width: 4rem;

		a {
			display: block;
			margin-right: 0;
			padding: 1rem;

			// &:hover {
			// 	background: none;

			// 	&:after {
			// 		color: $color-primary;
			// 		content: " ★";
			// 	}

			// }

		}

	}

	.sidebar h3 {
		padding-bottom: 2rem;
	}

	.design-selection {
		float: left;
		margin-top: -18.25rem;
		padding-bottom: 4rem;
		width: 50%;
	}

	.design-archives,
	.zen-resources {
		float: left;
		width: 50%;
	}

	.design-archives {
		margin-top: -18.25rem;
		padding-bottom: 2.25rem;
	}

	.zen-resources {
		padding-bottom: 10.05rem;
	}

}

@media screen and (min-width: 1201px) {

	header {
		
		h1,
		h2 {
			padding-left: 6rem;
		}

	}

	.summary {
		width: 40%;
	}

	.preamble {

		h3,
		p {
			margin-left: 6rem;
		}

	}

	.explanation {

		h3,
		p {
			margin-right: 6rem;
		}

	}

	.participation {

		h3,
		p {
			padding-left: 11rem;
			padding-right: 40%;
		}

	}

	.benefits {

		h3,
		p {
			padding-left: 11rem;
		}

	}

	.requirements {

		h3,
		p {
			margin-right: 6rem;
		}

	}

	.design-selection {

		h3 {
			padding-left: 11rem;
		}

		ul li {
			padding-left: 6rem;
		}

	}

}

