/* Sections */

.summary {
	box-sizing: border-box;

	p {
		background-color: $color-secondary;
		padding: 4rem 2rem 1rem 2rem;

		&:last-child {
			padding-top: 0;
			padding-bottom: 4rem;
		}

	}

	a {
		border-bottom: 2px solid $color-primary;
		color: $color-primary;
		text-transform: uppercase;

		&:before {
			content: "⬇";
		}

	}

}

.preamble {
	background: $color-text-accent url(op_art_1.jpg) center center no-repeat;
	background-size: cover;
	color: $color-text-accent;
	padding-top: 15rem;

	h3 {
		background-color: $color-text;
	}

	p {
		background-color: $color-text;
		padding: 1rem 2rem;

		&:nth-child(3) {
			padding-top: 0;
		}

		&:last-child {
			padding-top: 0;
			padding-bottom: 4rem;
		}

	}

}

.explanation {
	background: $color-text-accent;

	h3 {
		background-color: $color-text-accent;
	}

	p {
		background-color: $color-text-accent;
		padding: 1rem 2rem;

		&:last-child {
			padding-top: 0;
			padding-bottom: 4rem;
		}

	}

}

.participation {
	background: $color-text-accent url(op_art_2.jpg) center center no-repeat;
	background-size: cover;
	color: $color-text-accent;
	padding-top: 15rem;

	h3 {
		background-color: $color-primary;
	}

	p {
		background-color: $color-primary;
		padding: 1rem 2rem;

		&:nth-child(3) {
			padding-top: 0;
		}

		&:last-child {
			padding-top: 0;
			padding-bottom: 4rem;
		}

	}

	a {
		border-bottom: 2px solid $color-text-accent;
		color: $color-text-accent;

		&:hover {
			background-color: $color-text;
		}

	}

}

.benefits {

	h3 {
		background-color: $color-secondary;
	}

	p {
		background-color: $color-secondary;
		padding: 1rem 2rem 4rem 2rem;

	}

}

.requirements {
	color: $color-text-accent;
	overflow: hidden;
	padding-top: 15rem;
	position: relative;

	h3 {
		background-color: $color-text;
	}

	p {
		background-color: $color-text;
		padding: 1rem 2rem;

		&:nth-child(3) {
			padding-top: 0;
		}

		&:nth-child(5) {
			padding-top: 0;
			padding-bottom: 4rem;
		}

		&:last-child {
			background-color: $color-text-accent;
			color: $color-text;
			padding: 4rem 2rem;

			a {
				border-bottom: 2px solid $color-text;
				color: $color-text;

				&:hover {
					background-color: $color-secondary;
				}
			}

		}

	}

	a {
		border-bottom: 2px solid $color-text-accent;
		color: $color-text-accent;

		&:hover {
			background-color: $color-primary;
		}
	}

}

.requirements:before {
	content: "";
	position: absolute;
	width: 300%;
	height: 300%;
	top: -100%;
	left: -100%;
	z-index: -1;
	background: url(op_art_3.jpg) center center no-repeat;
	animation: spin 120s linear infinite;
}

