/* Variables */

// Color

$color-primary: #ff310a;
$color-secondary: #f0e2c2;
$color-tertiary: #888;
$color-text: #333;
$color-text-accent: #fff;


// Typography

@import url(https://fonts.googleapis.com/css?family=Oswald:300,400|Lato:400,400italic,700);

$font-heading: "Oswald", sans-serif;
$font-text: "Lato", sans-serif;


// Animation

@keyframes pulse {

	0% {
		transform: scale(0.99);
	}

	50% {
		transform: scale(1.02);
	}

	100% {
		transform: scale(0.99);
	}

}

@keyframes spin {

	0% {}

	100% {
		transform: rotate(360deg);
	}

}

