/* Global Styles */

body {
	font: {
		family: $font-main;
		color: $color-text;
	}
}

a {
	color: $color-secondary;
	text-decoration: none;
	-moz-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;
	-webkit-transition: color 0.1s linear;
	transition: color 0.1s linear;

	&:hover {
		color: lighten($color-secondary, 10%);
	}

	&.selected {
		color: $color-secondary;
		border-bottom: 2px solid $color-secondary;
		padding-bottom: 0.25rem;
	}

}

img {
	max-width: 100%;
}

::-moz-selection {
  background: $color-primary;
  color: white;
}

::selection {
  background: $color-primary;
  color: white;
}

