/* Global Styles */

body {
	font: {
		family: $font-main;
		color: $color-text;
	}
}

a {
	color: $color-secondary;
	text-decoration: none;
	@include transition-property(color);
	@include transition-duration(0.2s);
	@include transition-timing-function(linear);

	&:hover {
		color: lighten($color-secondary, 10%);
	}

}

img {
	max-width: 100%;
}

@include selection {
  background: $color-primary;
  color: white;
}

