/* Media Queries */

@media screen and (min-width: 600px) {

	main {
		width: 60%;
	}

}

@media screen and (min-width: 860px) {

	h1 {
		font: {
			@include fntz(3);
		}
	}

	h3 {
		font: {
			@include fntz(2);
		}
	}

	main {
		width: 85%;
	}

	.column {
		@include grid(6);
	}

	.subtext {
		width: 45%;
	}

	footer p {
		float: left;
		line-height: 2em;
		padding-left: 7.5%;
	}

	footer ul {
		float: right;
		padding-right: 7.5%;
	}

}

@media screen and (min-width: 1120px) {

	main {
		width: 65%;
	}

}
