@import url(https://fonts.googleapis.com/css?family=Alegreya:900,700|Lato:400,700);
/* Global Styles */
body {
  font-family: "Lato", sans-serif;
  font-color: #2e2c2c;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #c37012;
  text-decoration: none;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  transition-timing-function: linear;
}
a:hover {
  color: #ea8a1e;
}

img {
  max-width: 100%;
}

::-moz-selection {
  background: #f6ad22;
  color: white;
}

::selection {
  background: #f6ad22;
  color: white;
}

em {
  font-style: italic;
}

/* Headings */
h1 {
  color: #f6ad22;
  font-family: "Alegreya", serif;
  font-size: 44px;
  font-size: 2.75rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

h2 {
  font-family: "Alegreya", serif;
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}

h3 {
  border-bottom: 2px solid #e3decb;
  color: #6b804f;
  font-family: "Alegreya", serif;
  font-size: 28px;
  font-size: 1.75rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

/* Header */
header {
  text-align: center;
}

#home {
  background: #544834 url(../img/home_hero.jpg) center center no-repeat;
  background-size: cover;
}

#menu {
  background: #544834 url(../img/menu_hero.jpg) center center no-repeat;
  background-size: cover;
}

nav ul {
  padding: 1rem 0.25rem;
}
nav ul li {
  display: inline;
  padding: 0 0.5rem;
}
nav a {
  color: #fbda9d;
  font-weight: 700;
  text-transform: uppercase;
}
nav a:hover {
  color: white;
}
nav a.selected {
  color: white;
  border-bottom: 2px solid white;
  padding-bottom: 0.25rem;
}

.logo {
  margin: auto;
  padding: 2rem 0 5rem 0;
  width: 25%;
}

/* Content */
.hours {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 1rem;
}

.products {
  font-size: 18.4px;
  font-size: 1.15rem;
}
.products p {
  font-style: italic;
  font-weight: 700;
  margin: 2rem 0 1rem 0;
}
.products ul {
  margin-top: 0.75rem;
}
.products ul li {
  line-height: 1.6em;
}

#about1 p,
#about2 p {
  font-size: 18.4px;
  font-size: 1.15rem;
  line-height: 1.6em;
  padding-top: 1rem;
}

#location p {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.6em;
}
#location p span {
  font-weight: 700;
}

#map {
  background: url(../img/map.png) center center no-repeat;
  height: 30.313rem;
}

.container {
  margin: 2rem auto;
  overflow: hidden;
  width: 85%;
}

.row {
  overflow: hidden;
}

.column {
  float: left;
  width: 100%;
  margin-right: 10%;
}
.column:last-child {
  margin-right: 0;
}

section {
  margin-bottom: 6rem;
  overflow: hidden;
}

.subtext {
  font-style: italic;
  padding-bottom: 0.5rem;
}

dt {
  clear: both;
  float: left;
  font-size: 18.4px;
  font-size: 1.15rem;
  font-weight: 700;
  max-width: 75%;
}

.subtext,
dt,
dd {
  line-height: 1.7em;
}

dt,
dd {
  padding-top: 1rem;
}

.price {
  float: right;
  text-align: right;
}

.description {
  clear: both;
  float: left;
  padding-top: 0;
}

#coffee1,
#breads1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.special-desc {
  float: left;
  text-align: center;
  width: 70%;
}
.special-desc p {
  font-style: italic;
  line-height: 1.5em;
}
.special-desc p span {
  font-size: 18.4px;
  font-size: 1.15rem;
  font-style: normal;
  font-weight: 700;
}

aside {
  background-color: #f5f3ec;
  margin-bottom: 6rem;
  padding: 3rem 0;
}

.special {
  color: #6b804f;
  display: block;
  margin: 0 auto;
  width: 20rem;
}

.special-price {
  float: right;
  width: 30%;
}
.special-price span {
  font-size: 144px;
  font-size: 9rem;
  line-height: 0.45em;
  vertical-align: top;
}

#breads {
  clear: both;
}

/* Footer */
footer {
  background-color: #f5f3ec;
  color: #94844e;
  overflow: hidden;
  padding: 2rem 0;
  text-align: center;
}
footer ul li {
  display: inline;
  padding: 0 0.5rem;
}
footer ul li img {
  opacity: 0.75;
  width: 1.875rem;
}
footer ul li img:hover {
  opacity: 1.0;
}

/* Media Queries */
@media screen and (min-width: 600px) {
  main {
    width: 60%;
  }
}
@media screen and (min-width: 860px) {
  h1 {
    font-size: 48px;
    font-size: 3rem;
  }

  h3 {
    font-size: 32px;
    font-size: 2rem;
  }

  main {
    width: 85%;
  }

  .column {
    float: left;
    width: 45%;
    margin-right: 10%;
  }
  .column:last-child {
    margin-right: 0;
  }

  .subtext {
    width: 45%;
  }

  footer p {
    float: left;
    line-height: 2em;
    padding-left: 2rem;
  }

  footer ul {
    float: right;
    padding-right: 2rem;
  }
}
@media screen and (min-width: 1120px) {
  main {
    width: 65%;
  }
}

/*# sourceMappingURL=style.css.map */
