/* Content */

h2 {
	padding: 1.25rem 0 0 1.25rem;
	width: 50%;
}

.photo {
	display: block;
	float: right;
	overflow: hidden;
	width: 5rem;
}

#lovebug {
	background: #333 url("../img/love_bug.jpg") no-repeat center center;
	background-size: cover;
}

