/* Global Styles */

body {
	background-color: $color-background;
	color: $color-primary;
	font: {
		family: $font-main;
		size: 100%;
	}
}

img {
	max-width: 100%;
}

a {
	color: $color-secondary;
	text-decoration: none;
	transition: color 0.1s linear;

	&:hover {
		color: $color-accent;
	}
}

::-moz-selection {
  background: $color-selection;
}

::selection {
  background: $color-selection;
}

