/* Global Styles */

body {
	background-color: $color-background;
	color: $color-primary;
	font: {
		family: $font-main;
		size: 100%;
	}
}

img {
	max-width: 100%;
}

a {
	color: $color-primary;
	padding: 0.85rem 0;
	text-decoration: none;
	transition: color 0.1s linear;

	&:hover {
		color: $color-accent;
	}

	&.selected1 {
		color: $color-accent;
		border-bottom: 2px solid $color-accent;
	}

	&.selected2 {
		color: $color-secondary;
	}

}

::-moz-selection {
  background: $color-selection;
}

::selection {
  background: $color-selection;
}

