/* Header */

header {
	background-color: #f6f7fa;
	border-bottom: 1px solid #eff0f3;
	overflow: hidden;
}

#topnav,
.icons {
	margin: 1rem;

	ul li {
		display: inline-block;
		margin-right: 0.5rem;
		vertical-align: middle;

		&:last-child {
			margin-right: 0;
		}
	}
}

#topnav {
	float: left;
}

.icons {
	float: right;
}

