/* Header */

.topbar {
	float: left;
	height: 0.125rem;
	width: 25%;
}

#one {
	background-color: #afecc3;
}

#two {
	background-color: #84c3c0;
}

#three {
	background-color: #d45a68;
}

#four {
	background-color: #ecbf63;
}

header {
	clear: both;
	overflow: hidden;
}

#topnav,
.icons {
	margin: 0.9rem;

	ul li {
		display: inline-block;
		font: {
			@include fntz(0.95);
			weight: 700;
		}
		vertical-align: middle;

		&:last-child {
			margin-right: 0;
		}
	}
}

#topnav {
	float: left;
}

.icons {
	float: right;
}

#topnav ul li {
	margin-right: 0.5rem;
}

.icons ul li {
	margin-right: 2rem;
}

