/* Variables */

$color-primary: #333333;
$color-accent: #FFFFFF;

@import url(https://fonts.googleapis.com/css?family=Bowlby+One+SC|IM+Fell+English:400,400italic);

$font-heading: 'Bowlby One SC', 'Arial Black', 'Arial Bold', Gadget, sans-serif;
$font-text: 'IM Fell English', 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;

