/* =Contact */

form p {
	font-style: italic;
	margin: 0 0 2rem 0;
}

form label {
	color: #534f4c;
	font-size: 1.35rem;
	font-weight: 300;
	padding: 2rem 0 0.5rem 0;
}

form input,
form label {
	display: block;
}

form input,
textarea {
	background-color: #eee;
	border: 1px solid #9c9d9f;
	min-width: 20rem;
	padding: 10px;
	width: 60%;
}

textarea {
	min-height: 10rem;
}

form input:focus,
textarea:focus {
	background-color: white;
}

form button {
	background-color: white;
	border: 1px solid #202737;
	color: #202737;
	display: block;
	margin-top: 2rem;
	padding: 10px;
	text-transform: uppercase;
}

form button:hover {
	background-color: #202737;
	color: white;
}

