/* Headings */

h1 {
	border-bottom: 2px solid darken($color-light, 10%);
	color: $color-primary;
	font: {
		family: $font-headings;
		@include fntz(2.25);
		weight: 900;
	}
	margin-bottom: 3rem;
	padding-bottom: 1.5rem;
}

h2 {
	font: {
		family: $font-headings;
		@include fntz(1.75);
		weight: 700;
	}
	letter-spacing: 0.4rem;
	text-transform: uppercase;
}

h3 {
	color: $color-tertiary;
	font: {
		family: $font-headings;
		@include fntz(1.5);
	}
	margin-bottom: 0.5rem;
}

