// Colors

$color-text: #2e2c2c;
$color-primary: #f6ad22;
$color-secondary: #c37012;
$color-tertiary: #465434;
$color-dark: #544834;


// Typography

@import url(https://fonts.googleapis.com/css?family=Alegreya:900,700|Lato:400,700);

$font-headings: "Alegreya", serif;
$font-main: "Lato", sans-serif;

