@import url(https://fonts.googleapis.com/css?family=Alegreya:900,700|Lato:400,700);
/* Global Styles */
body {
  font-family: "Lato", sans-serif;
  font-color: #2e2c2c;
}

a {
  color: #c37012;
  text-decoration: none;
  -moz-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
a:hover {
  color: #ea8a1e;
}
a.selected {
  color: #c37012;
  border-bottom: 2px solid #c37012;
  padding-bottom: 0.25rem;
}

img {
  max-width: 100%;
}

::-moz-selection {
  background: #f6ad22;
  color: white;
}

::selection {
  background: #f6ad22;
  color: white;
}

/* Headings */
h1 {
  border-bottom: 2px solid #e3decb;
  color: #f6ad22;
  font-family: "Alegreya", serif;
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 900;
  margin-bottom: 3rem;
  padding-bottom: 1.5rem;
}

h2 {
  font-family: "Alegreya", serif;
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}

h3 {
  color: #465434;
  font-family: "Alegreya", serif;
  font-size: 24px;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

/* Header */
header {
  background: #544834 url(../img/menu_hero.jpg) center center no-repeat;
  background-size: cover;
  text-align: center;
}

nav ul {
  padding: 1rem 0.25rem;
}
nav ul li {
  display: inline;
  padding: 0 0.5rem;
}
nav a {
  color: white;
  text-transform: uppercase;
}

.logo {
  margin: auto;
  padding: 2rem 0 5rem 0;
  width: 25%;
}

/* Content */
main {
  margin: 2rem auto 6rem auto;
  overflow: hidden;
  width: 85%;
}

.column {
  float: left;
  width: 100%;
  margin-right: 10%;
}
.column:last-child {
  margin-right: 0;
}

section {
  border-bottom: 2px solid #e3decb;
  clear: both;
  margin-bottom: 3rem;
  overflow: hidden;
  padding-bottom: 3rem;
}

#cookies {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.subtext {
  font-style: italic;
  padding-bottom: 0.5rem;
}

dt {
  clear: both;
  float: left;
  font-weight: 700;
  max-width: 75%;
}

.subtext,
dt,
dd {
  line-height: 1.35em;
}

dt,
dd {
  padding-top: 1rem;
}

.price {
  float: right;
  text-align: right;
}

.description {
  clear: both;
  float: left;
  padding-top: 0;
}

.special-desc {
  float: left;
  text-align: center;
  width: 70%;
}
.special-desc p {
  font-style: italic;
  line-height: 1.5em;
}
.special-desc p span {
  font-size: 18.4px;
  font-size: 1.15rem;
  font-style: normal;
  font-weight: 700;
}

.special {
  color: #465434;
}

.special-price {
  float: right;
  width: 30%;
}
.special-price span {
  font-size: 144px;
  font-size: 9rem;
  line-height: 0.45em;
  vertical-align: top;
}

/* Footer */
footer {
  background-color: #f5f3ec;
  color: #94844e;
  padding: 2rem 0;
  text-align: center;
}
footer ul {
  padding-bottom: 1rem;
}
footer ul li {
  display: inline;
  padding: 0 0.5rem;
}
footer ul li img {
  opacity: 0.75;
  width: 1.875rem;
}
footer ul li img:hover {
  opacity: 1.0;
}

/* Media Queries */
@media screen and (min-width: 600px) {
  main {
    width: 60%;
  }
}
@media screen and (min-width: 860px) {
  main {
    width: 85%;
  }

  .column {
    float: left;
    width: 45%;
    margin-right: 10%;
  }
  .column:last-child {
    margin-right: 0;
  }

  #soda {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
